@import "../css/base.scss";
$baseColor: #fcffb4;
$viewW: 750px;
$bgColor: #fcfff8;
$color: #fffb88;

.zmiti-introduce-main-ui {
	@include displayBox(horizontal);
	overflow: hidden;

	opacity:0;
	z-index: -1;


	.zmiti-logo{
		@include pos(a);
		width: 180px;
		right: 30px;
		top: 30px;
	}

	&.show{
		opacity: 1;
		z-index: 241;
	}
	

	.zmiti-introduce-main{
		width: 90vw;
		.zmiti-introduce-title{
			img{
				width: 200px;
			}
			//font-size:26px;
			div{
				margin: 30px 0;
				color:#504125;
			}
		}
		.zmiti-introduce-content{
			h2{
				color:#8b5e07;
				font-size:40px;
				text-indent: 20px;
				@include pos(r);
				margin: 20px 0;
				&:before{
					content:"";
					@include pos(a);
					width: 5px;
					height: 70%;
					left: 0;
					top:20%;
					background:#8b5e07;
				}
			}

			.zmiti-introduce-wrap{
				@include pos(r);
				width: 50vw;
				height: 50vh;
				overflow: hidden;
				background: rgba(139,94,1,.1);
				color:#504125;
				padding: 20px 0;
				&>div{
					padding-bottom: 30px;
					width: 92%;
					margin: 0 auto;
					&>div{
						margin: 10px 0;
						line-height: 40px;
						text-indent: 2em;
					}
				}

				.iScrollVerticalScrollbar{
					background:#c69e50;
					.iScrollIndicator{
						background:#8b5e07 !important;
					}
				}
			}
		}


	}

	.zmiti-team-entry{
		@include pos(a);
		z-index: 10;
		bottom: 120px;
		right: 50px;
		text-decoration: underline;
		color:#714a00;
	}

	.zmiti-nav{
		@include pos(a);
		width:$viewW;
		height: 90px;
		line-height: 90px;
		&:before{
			content:'';
			@include pos(a);
			width: 100%;
			height: 100%;
			left:0;
			top: 0;
			background:#b88f3f;
			z-index: -1;
		}
		ul{
			text-align: center;
			@include displayBox(horizontal);
			color:#714a00;
			li{

				&.active{
					background: #976f22;
					color:#423108;
				}
				-webkit-box-flex:1;
				line-height: 90px;
				border-right:1px solid #976f22;
				&:last-of-type{
					width: 60px;
					border:none;
					img{
						width: 60px;
					}
				}
			}
		}
		left: 0;
		bottom: 0;
	}
	 
}



@-webkit-keyframes ar {
	from {
		margin-top: -5px;
	}

	to {
		margin-top: 5px;
	}

}
