.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  right: .5rem;
  top: .5rem;
}

.zmiti-play.rotate {
  -webkit-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.zmiti-introduce-main-ui {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
  overflow: hidden;
  opacity: 0;
  z-index: -1;
}

.zmiti-introduce-main-ui .zmiti-logo {
  position: absolute;
  width: 180px;
  right: 30px;
  top: 30px;
}

.zmiti-introduce-main-ui.show {
  opacity: 1;
  z-index: 241;
}

.zmiti-introduce-main-ui .zmiti-introduce-main {
  width: 90vw;
}

.zmiti-introduce-main-ui .zmiti-introduce-main .zmiti-introduce-title img {
  width: 200px;
}

.zmiti-introduce-main-ui .zmiti-introduce-main .zmiti-introduce-title div {
  margin: 30px 0;
  color: #504125;
}

.zmiti-introduce-main-ui .zmiti-introduce-main .zmiti-introduce-content h2 {
  color: #8b5e07;
  font-size: 40px;
  text-indent: 20px;
  position: relative;
  margin: 20px 0;
}

.zmiti-introduce-main-ui .zmiti-introduce-main .zmiti-introduce-content h2:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 70%;
  left: 0;
  top: 20%;
  background: #8b5e07;
}

.zmiti-introduce-main-ui .zmiti-introduce-main .zmiti-introduce-content .zmiti-introduce-wrap {
  position: relative;
  width: 50vw;
  height: 50vh;
  overflow: hidden;
  background: rgba(139, 94, 1, 0.1);
  color: #504125;
  padding: 20px 0;
}

.zmiti-introduce-main-ui .zmiti-introduce-main .zmiti-introduce-content .zmiti-introduce-wrap > div {
  padding-bottom: 30px;
  width: 92%;
  margin: 0 auto;
}

.zmiti-introduce-main-ui .zmiti-introduce-main .zmiti-introduce-content .zmiti-introduce-wrap > div > div {
  margin: 10px 0;
  line-height: 40px;
  text-indent: 2em;
}

.zmiti-introduce-main-ui .zmiti-introduce-main .zmiti-introduce-content .zmiti-introduce-wrap .iScrollVerticalScrollbar {
  background: #c69e50;
}

.zmiti-introduce-main-ui .zmiti-introduce-main .zmiti-introduce-content .zmiti-introduce-wrap .iScrollVerticalScrollbar .iScrollIndicator {
  background: #8b5e07 !important;
}

.zmiti-introduce-main-ui .zmiti-team-entry {
  position: absolute;
  z-index: 10;
  bottom: 120px;
  right: 50px;
  text-decoration: underline;
  color: #714a00;
}

.zmiti-introduce-main-ui .zmiti-nav {
  position: absolute;
  width: 750px;
  height: 90px;
  line-height: 90px;
  left: 0;
  bottom: 0;
}

.zmiti-introduce-main-ui .zmiti-nav:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #b88f3f;
  z-index: -1;
}

.zmiti-introduce-main-ui .zmiti-nav ul {
  text-align: center;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
  color: #714a00;
}

.zmiti-introduce-main-ui .zmiti-nav ul li {
  -webkit-box-flex: 1;
  line-height: 90px;
  border-right: 1px solid #976f22;
}

.zmiti-introduce-main-ui .zmiti-nav ul li.active {
  background: #976f22;
  color: #423108;
}

.zmiti-introduce-main-ui .zmiti-nav ul li:last-of-type {
  width: 60px;
  border: none;
}

.zmiti-introduce-main-ui .zmiti-nav ul li:last-of-type img {
  width: 60px;
}

@-webkit-keyframes ar {
  from {
    margin-top: -5px;
  }
  to {
    margin-top: 5px;
  }
}
